/*Importing Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Estonia&family=IM+Fell+English+SC&family=Kings&family=Metal+Mania&display=swap');
* {
  font-family: IM Fell English SC, serif;
  font-weight: 400;
  font-style: normal;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo{
  width: 35px;
  height: auto;
  display: block;
  padding-left: 10px;
  position: fixed;
}

header{
  height: 60px;
  width: 100%;
}

.navbar-container{
  display: flex;
  justify-content: center; 
  padding-top: 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.471);
  align-items: center;
  padding: 0 20px;
}

header *{
  display: inline;
  height: 50px;

}

header nav{
  padding:0;
  position: sticky;
}

header nav a{
  margin-left: 20px;
  float: left;
  text-align: center;
}

.navbar{
  text-align: center;
}

.title{
  font-family: "Metal Mania", sans-serif;
  position: absolute;
  top: 40%;                 
  left: 50%;           
  transform: translate(-50%, -50%);
  color: rgba(37, 194, 100, 0.917);
  font-size: 4rem;
  text-shadow: 0 0 15px black;
  letter-spacing: 3px;
  font-weight: 700;
  text-align: center;
}

.Starfelled{
  font-family: "Kings", sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px rgb(255, 255, 255);
}

body{
  background-color: #000000;
  color: rgb(166, 128, 78);
}

a {
  color: rgb(0, 160, 83); 
}

.main-section{
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-container{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden
}

.background-vid{
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  background-size: cover;
  opacity: 0.5;
}


.characters-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;           
  justify-content: center;
  padding: 20px;
}

.char{
  width: 250px;
  background: #1a1a1a;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  color: #fff;
  transition: transform 0.2s ease;
}

.char:hover {
  transform: translateY(-8px);   /* cute hover lift */
}

.char-img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.Blog-prewiew{
  border: 2px solid rgb(166, 128, 78);
  border-radius: 15px;
  padding: 15px;
  margin: 20px;
  background-color: #1c1a1a;
  color: #fff;
}

.blog-container{
  display: flex;
  flex-direction: row;
  align-items: justify-content center;
  padding: 20px;
  gap: 20px;
}

.blog-post{
  padding: 20px;
  border-radius: 15px;
  width: 80%;
  margin-bottom: 20px;
  background-color: rgb(41, 39, 36);
}

.footer{
  background-color: #141414de;
  color: rgba(166, 128, 78, 0.715);
  text-align: center;
  padding: 10px;
  font-size: 11px;
}